*.patch
*.diff
*~
*.orig
Makefile
Makefile.old
pm_to_blib
blib/*
*.tar.gz
*.tmp
cover_db/
check_nasdeluxe-*
MYMETA.*

blib/
.build/
_build/
cover_db/
inc/
Build
!Build/
Build.bat
.last_cover_stats
.DS_Store
Makefile
Makefile.old
MANIFEST.bak
META.yml
MYMETA.yml
nytprof.out
nytprof/
pm_to_blib

*~
*.bak
._*

